.fields {
	zoom:1;
}

.no-nthchild .blocks-start {
	clear:left;
}

.no-nthchild .blocks-end {
	zoom:1;
	float:none;
	width:auto;
}

.ie7 .region img {
	-ms-interpolation-mode:bicubic;
}

/* ---- last region ---- */
.ie7 .region-last {
/* class add via JS */
	zoom:1;
	float:none;
	width:auto;
}